.animated-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.animated-text-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    /* p-6 */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
}